.container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
        gap: 5px;
    }

    .pane1 {
        grid-column: 1 / 3;
        background: black;
        padding: 20px;
    }

    .pane2 {
        background: darkgray;
        padding: 20px;
        width: 700px;
    }

    .pane2 > h1, h2, p {
        font-family: 'MedievalSharp';
    }

    .pane2 > p {
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        padding: 10px;
    }

    .pane3 {
        background: maroon;
        padding: 20px;
        width: auto;
    }

    img {
        border-radius: 30px;
    }