.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    gap: 5px;
}

/* Header & Navigation Area */
.panel1 {
    grid-column: 1 / 3;
    background: black;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.panel1 .medallion-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid slategray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    background-color: #000;
}

.panel1 .medallion-img:hover {
    box-shadow: 0 0 80px rgba(220, 20, 60, .8);
    transform: scale(1.05);
}

.panel1 nav a:link {
    color: white;
    text-decoration: none;
    font-family: 'MedievalSharp';
}

.panel1 nav a:visited {
    color: red;
}

.panel1 nav a:hover {
    color: rgb(139, 14, 39);
}

/* Introduction Section */
.panel2 img {
    border-radius: 30px;
}

.panel2 {
    background: slategray;
    padding: 20px;
    width: 450px;
    font-family: 'MedievalSharp';
}

.panel2>p {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
}

/* Main Content Area */
.panel3 {
    background: maroon;
    padding: 20px;
    width: auto;
    font-family: 'MedievalSharp';
}

.panel3 h2 {
    font-family: 'Germania One';
}

.panel3 ul {
    list-style-type: square;
}

.panel3 ul li {
    background: rgba(92, 118, 145, 1);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: max-content;
}

.panel3 ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.panel3 table, th, tr, td {
    border: 2px solid black ;
    border-collapse: collapse;
}

.panel3 table {
    table-layout: auto;
    width: 95%;
    margin-bottom: 40px;
}

.panel3 tr:not(:first-child):hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.panel3 tr:nth-child(odd) {
    background-color: rgb(112, 128, 144);;
}

.panel3 tr:nth-child(even) {
    background-color: rgb(92, 118, 145);;
}

.panel3 ol li {
    background: rgba(92, 118, 145, 1);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: max-content;
}

.panel3 ol li img {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin: 5px 5px 0 0;
    border-radius: 8px;
    display: inline-block;
    width: 300px;
    object-fit: cover;
}

.panel3 ol li:hover img {
    max-height: 150px;
    margin-top: 10px;
}

.footer {
    margin-bottom: 10px;
}

.footer a:link {
    color:white
}

.footer a:visited {
    color:white
}

.footer a:hover {
    color: rgb(92, 118, 145);
}